<!--
<style>
  .filterFalse {
      visibility:hidden;
  }

  .filterTrue {
      visibility:visible;
  }
</style>
-->

<ion-view ng-controller="buscadorCtrl as buscadorCtrl" view-title="Search: {{buscadorCtrl.userName}}">
  <ion-content>
      <ion-list>   

        <ion-item>
          <div class="list list-inset">
              <label class="item item-input">
                <i class="icon ion-funnel ion-ios-search"></i>
                <input type="text" placeholder="Nombre de Usuario" ng-model="buscadorCtrl.userName">
              </label>

              <label class="item item-input filterFalse" ng-class="{filterTrue:buscadorCtrl.existInfo}">
                <i class="icon ion-funnel placeholder-icon"></i>
                <input type="text" placeholder="Filtrar" ng-model="buscadorCtrl.repoName">
              </label>
          </div>
        </ion-item>
        
        <ion-list>
          <ion-item ng-repeat="user in buscadorCtrl.usersList | filter:buscadorCtrl.repoName" item="item" href="#/app/repos/{{user.login}}">
            <!--
            <img ng-src="{{user.avatar_url}}">
            <h2>{{user.login}}</h2>
            <p>{{user.html_url}}</p>
            -->
            <user-list-drctv usuario=user>
            </user-list-drctv>
          </ion-item>
        </ion-list>

      </ion-list>
    </ion-content>

    <ion-footer-bar class="bar-stable">
      <button class="button button-outline button-dark button-block icon ion-ios-search" style="margin: 0px 0px 0px 0px; font-size: 1.2rem;" ng-click="buscadorCtrl.searchGitUsers()">
        Buscar
      </button>
    </ion-footer-bar>
</ion-view>
