<!--
<style>
  .filterFalse {
      visibility:hidden;
  }

  .filterTrue {
      visibility:visible;
  }
</style>
-->

<ion-view ng-controller="buscadorCtrl as buscadorCtrl" view-title="Search: {{buscadorCtrl.userName}}">
  <ion-content>
      <ion-list>

        <ion-item>
          <div class="list">
            <label class="item item-input item-input-wrapper">
              <input type="text" placeholder="Nombre de Usuario" ng-model="buscadorCtrl.userName">
            </label>
          </div>
        </ion-item>      

        <ion-item>

          <div class="item-input-inset filterFalse" ng-class="{filterTrue:buscadorCtrl.existInfo}">
            <label class="item item-input item-input-wrapper">
              <input type="text" placeholder="User" ng-model="buscadorCtrl.repoName">
            </label>
            <button class="button button-outline button-calm button-small icon ion-funnel" ng-click="buscadorCtrl.filterRepos()"></button>
          </div>
        </ion-item>

          <div class="list">
            <div class="item item-divider">
              Usuarios
            </div>

            <a class="item" href="#/app/repos/{{user.login}}" ng-repeat="user in buscadorCtrl.usersList | filter:buscadorCtrl.repoName">
              <h2>{{user.login}} <span class="item-note">Score: {{user.score}}</span></h2>
              <p>{{user.html_url}}</p>
            </a>
          </div>
        

      </ion-list>

    </ion-content>

    <ion-footer-bar class="bar-stable button-bar">
      <button class="button button-outline button-positive icon ion-search" ng-click="buscadorCtrl.searchGitUsers()">
        Buscar
      </button>
    </ion-footer-bar>
</ion-view>
