<!--
<style>
  .filterFalse {
      visibility:hidden;
  }

  .filterTrue {
      visibility:visible;
  }
</style>
-->

<ion-view ng-controller="reposCtrl as reposCtrl" view-title="Repos: {{reposCtrl.userName}}">
  <ion-content>
      <ion-list>

        <ion-item>

          <div class="list list-inset"  ng-class="{filterTrue:reposCtrl.existInfo}">
              <label class="item item-input">
                <i class="icon ion-funnel placeholder-icon"></i>
                <input type="text" placeholder="Filtrar" ng-model="reposCtrl.repoName">
              </label>
          </div>

          <div class="list">
            <div class="item item-divider">
              Repos
            </div>

            <a class="item" href="#/app/repo/{{repo.owner.login}}/{{repo.name}}" ng-repeat="repo in reposCtrl.userRepos | filter:reposCtrl.repoName">
              <h2>{{repo.name}} <span class="item-note">{{repo.public}}</span></h2>
              <p>{{repo.full_name}}</p>
            </a>
          </div>
        </ion-item>

      </ion-list>

    </ion-content>

    <ion-footer-bar class="bar-stable button-bar">
        <button class="button button-outline button-dark icon ion-pizza" ng-click="reposCtrl.addFavoritos(reposCtrl.userRepos[0].owner)">
          Add Favoritos
        </button>
    </ion-footer-bar>

</ion-view>
