<ion-view ng-controller="favoritosCtrl as favoritosCtrl" view-title="Favorites">
  <ion-content>

    
      <div class="list">
        <div class="item item-divider">
          Usuarios
        </div>

        <div class="item item-button-right" ng-repeat="user in favoritosCtrl.favoriteUsers">
          <a class=""  href="#/app/repos/{{user.login}}">
            <h2>{{user.login}} <span class="item-note">Score: {{user.score}}</span></h2>
            <p>{{user.html_url}}</p>
          </a>

          <button class="button" ng-click="favoritosCtrl.removeFavoritos({{user}})">
              <i class="icon ion-bug"></i>
          </button>
        </div>        
      </div>

  </ion-content>
</ion-view>